<div class="loading" *ngIf="user.loading; else homeComponent">
  <!-- <img class="loadignImg" src="../../assets/loader.svg" alt="" /> -->
  <div class="loadingio-spinner-double-ring-wyxrlg25kdj">
    <div class="ldio-wimz3qif53">
      <div></div>
      <div></div>
      <div><div></div></div>
      <div><div></div></div>
    </div>
  </div>
</div>
<ng-template #homeComponent>
  <nav class="navbar navbar-dark bg-dark">
    <div class="logo">
      <a class="navbar-brand" href="#" *ngIf="user.user">{{
        user.user.displayName
      }}</a>
    </div>
    <div class="navbarInfo">
      <div
        class="totalAmount"
        ngbPopover="Total amount of time you work"
        triggers="mouseenter:mouseleave"
      >
        {{ user.totalAmount }}
      </div>
      <button class="btn btn-primary" *ngIf="user" (click)="logout()">
        Logout
      </button>
    </div>
  </nav>
  <div class="container">
    <div class="row goals">
      <div class="col-md-6">
        <div class="card">
          <ul class="list-group" *ngIf="user.goalsTemplate">
            <li class="list-group-item" *ngFor="let goal of user.goalsTemplate">
              <div
                class="goalName"
                [routerLink]="['/statistic', goal[0]]"
                routerLinkActive="router-link-active"
              >
                {{ goal[0][0].toUpperCase() + goal[0].slice(1) }}
              </div>
              <div class="info">
                <span class="spanMinus" (click)="minusTime(goal[0])">-</span>
                <span class="spanTime">{{ goal[1] }}</span>
                <div class="add-time">
                  <button
                    (click)="addTime(goal[0])"
                    class="btn btn-primary"
                    *ngIf="!loading; else spinner"
                  >
                    add
                  </button>
                  <ng-template #spinner>
                    <img
                      class="loadingButton"
                      src="../../assets/Double Ring-1s-200px.svg"
                      alt=""
                    />
                  </ng-template>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <ul class="list-group" *ngIf="user.dailyChallenges">
            <li
              class="dailyChallengesLI"
              *ngFor="let goal of user.dailyChallengesTemplate"
            >
              <div class="liBody">
                <div></div>
                <!-- [ngClass]="goal[1] ? 'fillBlock' : 'refillBlock'" -->
                <div class="challeng">
                  <input
                    class="goalName"
                    type="checkbox"
                    [checked]="goal[1]"
                    (click)="setChalleng(goal[0])"
                  />
                  {{ goal[0][0].toUpperCase() + goal[0].slice(1) }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>
