<div class="flex">
  <div class="flex-item">
    <div class="canvas">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>
    </div>
  </div>
  <div class="flex-item">
    <table class="table table-responsive table-condensed">
      <tr>
        <th>Dates</th>
        <th *ngFor="let label of lineChartLabels.reverse()">{{ label }}</th>
      </tr>
      <tr>
        <td>Times</td>
        <td *ngFor="let time of lineChartData[0].data.reverse()">
          {{ time }}
        </td>
      </tr>
    </table>
  </div>
</div>
